<!doctype html>
<html lang="en" ng-app="moxies">
<head>
    <meta charset="utf-8">
    <title>Make your moxie</title>
    <link rel="stylesheet" href="assets/css/index.css">
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="assets/vendor/angular/angular.js"></script>
    <script src="assets/vendor/angular-route/angular-route.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controllers.js"></script>
</head>
<body>
<div id="top-navbar">

</div>
<div id="left-sidebar">

</div>
<div id="main-content">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default" ng-controller="list">
                <div class="panel-body" >
                    {{ greeting }}
                </div>
                <div class="alert alert-info">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Search</label>
                            <div class="col-sm-8">
                                <input class="form-control" ng-model="search"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Sort by</label>
                            <div class="col-sm-8">
                                <select class="form-control" ng-model="orderProp">
                                    <option value="title">Title</option>
                                    <option value="dueDate">Date</option>
                                </select>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="panel-body" ng-repeat="moxie in moxies | filter:search | orderBy:orderProp">
                    {{ moxie.title }} <strong>wtf</strong> {{ moxie.dueDate }}
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<div ng-view></div>

</body>
</html>